@import url('./reset.css');
@import url('./layout.css');
@import url('./module.css');

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  }

body {
margin: 0px 50px 50px;
}

/* Each item in the grid contains numbers */
.item {
/* Center the contents of the grid items. Making each grid item a Flex Container */
display: flex;

/* Horizontal and Vertical centering */
justify-content: center;
align-items: center;
border: 1px solid black;
border-radius: 1px;
font-size: 2em;
font-family: sans-serif;
font-weight: bold;
background-color: #AAA
}
