#double > div {
  display: flex;
  width: 50%;
  color: blue;
  text-align: center;
  font-style: italic;
  font-size: 1.5em;  
  padding: .5em;
  border: 2px, solid, black;
}

#quartet > div {
  display: flex;
  width: 25%;
  color:purple;
  text-align: center;
  font-style: italic;
  font-size: 1.5em;  
  padding: .5em;
  border: 2px, solid, black;
}

#single {
  display: flex;
  border: 2px, solid, black;
  color: red;
  text-align: center;
  font-style: italic;
  font-size: 1.5em;  
  padding: .5em;
}